<h3>
    Uw kantoor in<br />
    X-Antwerpen?
</h3>
<div style="float: left; width: 180px;">
    Iret Development
    <br />
    Havenlaan 86c bus 103
    <br />
    02/402.46.00</div>
<div style="float: left;">
    <b>Werner Joris</b>: <a href="mailto:wjo@iretdev.be">wjo@iretdev.be</a>
    <br />
    <b>Jan De Kuyper</b>: <a href="mailto:wjo@iretdev.be">jdk@iretdev.be</a></div>
<div style="float: left; margin-left: 250px;">
    Vanaf <b>januari 2014</b> kan u ook uw kantoor hebben in X-Antwerpen. Interesse?
    Bespreek met de projectverantwoordelijken van Iret de wensen voor uw kantoor en
    de beschikbare m2.
    <br />
    <b>Iret development</b> is een vastgoedontwikkelaar die internationaal actief is
    zowel op de kantoormarkt als op de residentiële en de retailmarkt. Bewust van het
    groeiende belang van mobiliteit, flexibiliteit en milieu, realiseert Iret Development
    voornamelijk binnenstedelijke gemengde projecten op stationslocaties met een uitgesproken
    klemtoon op duurzame ontwikkeling.
    <br />
    Iret beheert momenteel een ontwikkelingsportefeuille van meer dan 400.000m².</div>
