<h3>
    Reflecties over<br />
    X-Antwerpen.
</h3>
<p>
    De tijd dat een projectontwikkelaar binnen de stadskern ongeremd zijn gang kon gaan,
    ligt gelukkig ver achter ons. In Antwerpen waakt stadsbouwmeester <b>Kristiaan&nbsp;Borret</b>
    over de zinvolle inplanting en de architecturale waarde van nieuwe projecten.
</p>
