<h3>
    Reflecties over<br />
    X-Antwerpen.
</h3>
<p>
    <b>Laurenz&nbsp;Verledens</b> is journalist en coördinator bij ImmoTrends en volgt de
    vastgoedmarkt op de voet op. <br />Hij kent als geen ander de trends in de vastgoedwereld.
</p>
