<h3>
    Reflecties over<br />
    X-Antwerpen.
</h3>
<p>
    X-Antwerpen dankt zijn ecologische winst niet alleen aan zijn unieke locatiekeuze
    maar blinkt ook uit in duurzaamheid, door de integratie van groene bouwtechnieken
    en -principes. <b>Dirk Slabbinck</b> van VK Architects & Engineers werkte het energieconcept
    en de technische installaties in het gebouw uit.
</p>
