/*
			Load CSS before JavaScript
		*/
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		.slides_container {
			width:800px;
			height: 600px;        
			display:none;
			background-color: blue;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		.slides_container div.slide {
			width:470px;
			height:170px;
			display:block;
		}
		
		/*
			Set the size of your carousel items
		*/
		.item {
			float:left;
			width:135px;
			height:135px;
			margin:0 10px;
			background:#efefef;
		}
		
		/*
			Optional:
			Reset list default style
		*/
		.pagination {
			list-style:none;
			margin:0;
			padding:0;
		}

		/*
			Optional:
			Show the current slide in the pagination
		*/
		.pagination .current a {
			color:red;
		}