/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Theme 	: Shutter 1.2
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

/* Controls Bar
	----------------------------*/
#controls-wrapper
{
	margin: 0 auto;
	height: 500px;
	width: 900px;
	bottom: 0px;
	z-index: 4;
	background-color: white;
}
#controls
{
	overflow: hidden;
	height: 100%;
	position: relative;
	text-align: left;
	z-index: 5;
}
#slidecounter
{
	float: left;
	color: #999;
	font: 14px "Helvetica Neue" , Helvetica, Arial, sans-serif;
	text-shadow: #000 0 -1px 0;
	margin: 0px 10px 0 15px;
	line-height: 42px;
}
#slidecaption
{
	overflow: hidden;
}

#navigation
{
	float: right;
	margin: 0px 20px 0 0;
}
#play-button
{
	float: left;
	margin-top: 1px;
	border-right: 1px solid #333;
	background: url('../img/bg-hover.png') repeat-x 0 44px;
}
#play-button:hover
{
	background-position: 0 1px;
	cursor: pointer;
}

#prevslide, #nextslide
{
	position: absolute;
	height: 87px;
	width: 29px;
	top: 50%;
	margin-top: -41px;
}
#prevslide
{
	background: url('../img/back.png');
}
#prevslide:hover
{
	background: url('../img/back_hover.png');
}

#nextslide
{
	right: 0px;
	background: url('../img/forward.png');
}
#nextslide:hover
{
	background: url('../img/forward_hover.png');
}
#prevslide:active, #nextslide:active
{
	margin-top: -41px;
}
#prevslide:hover, #nextslide:hover
{
	cursor: pointer;
}
ol#slide-list 
{
	margin: 0px;
	float: right;
	counter-reset: item;
    list-style-type: none;
}
ol#slide-list li 
{
	float: left;
	width: 10px;
	color: #404040;
	cursor: pointer;
}
ol#slide-list li:before {
	content: counter(item) "   ";
	counter-increment: item;
	cursor:pointer;	
}
ol#slide-list li.current-slide
{
	color: #CFB259;
}