@{
    ViewBag.Title = "Brochure";

}
<br />
<div style="text-align: center;">
    <object style="width: 900px; height: 600px; margin-left: auto; margin-right: auto;">
        <param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;shareMenuEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120416210006-04e01980d2d14b10b585b2cab918f041" />
        <param name="allowfullscreen" value="true" />
        <param name="menu" value="false" />
        <param name="wmode" value="transparent" />
        <embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash"
            allowfullscreen="true" menu="false" wmode="transparent" style="width: 900px;
            height: 600px; margin-left: auto; margin-right: auto;" flashvars="mode=mini&amp;shareMenuEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120416210006-04e01980d2d14b10b585b2cab918f041" /></object>
</div>
