<h3>
    X-Antwerpen.<br />
    115.000 m².<br />
    Werken.<br />
    Ontspannen.
</h3>
<p>
    Voor bedrijven is mobiliteit steeds meer een belangrijke economische factor. Het
    feit dat bedrijfswagens duurder zijn geworden, speelt duidelijk in het voordeel
    van het openbaar vervoer voor verplaatsingen van en naar het werk. De kantoren van
    X&#8209;Antwerpen zijn ideaal gelegen, op een kruispunt waar <b>openbaar vervoer en
        de auto</b> samenkomen.
</p>
