<h3>
    Stéphane Beel.<br />
    Nieuwe Eenvoud.<br />
    Jaspers-Eyers.<br />
    Duurzaamheid.<br />
</h3>
<p>
    X-Antwerpen mikt op <b>50% minder energieverbruik</b> dan een klassiek kantoor.
    X-Antwerpen streeft naar een <b>energiepeil van E50</b>, een score die onder meer
    rekening houdt met de isolatiedikte van het dak, de muren en de vloer, de verwarming
    en koeling, de grootte van de glazen oppervlaktes, de oriëntatie van het gebouw
    en de technische installaties. Ter vergelijking: enkele jaren terug werden nog kantoorgebouwen
    ontworpen met een E-peil van 100 en vandaag is de norm E70.<br />
    X-Antwerpen scoort dus twee keer beter dan een kantoorgebouw van slechts enkele
    jaren oud en beduidend beter dan wat de huidige regelgeving voorschrijft.</p>
<p>
    De kantoorruimtes in X-Antwerpen zijn niet uitgerust met airco, maar worden verwarmd
    en gekoeld met behulp van <b>betonkernactivering</b>. Dit in combinatie met <b>energieopslag
        in de bodem</b> is een uitermate duurzame techniek.
</p>
