<p>
    "Voor grootschalige projecten stellen we zeer hoge eisen op het vlak van ruimtelijke
    ordening. Dat geldt zeker voor een in het oog springend project zoals X-Antwerpen.
    De kwaliteit van de architectuur moet extra hoog zijn. Dat vindt trouwens ook de
    ontwikkelaar IRET zelf: als je op zo een locatie bouwt, wil je kunnen pronken met
    het resultaat."</p>
<p class="signature">
    Kristiaan Borret</p>
