<p>
    "Elk gebouw zal zijn eigen accent krijgen, afhankelijk van de bestemming. <br />X-Antwerpen
    wordt anders dan andere projecten aan de rand van de stad, waar tien gelijkaardige
    gebouwen naast elkaar worden neergezet. Aan de ene kant leggen we een link met de
    stad, aan de andere kant een link met de Ring en het doorgaand verkeer."
</p>
<p class="signature">
    Stéphane Beel</p>
