<h3>
    Reflecties over<br />
    X-Antwerpen.
</h3>
<p>
    <b>Stéphane Beel</b> is de architect van X-Antwerpen. Stéphane Beel is niet aan
    zijn proefstuk toe. Hij heeft onder meer het Raveelmuseum, het Gentse gerechtsgebouw,
    het Museum M in Leuven en de uitbreiding van De Singel in Antwerpen ontworpen.
</p>
