<h3>
    Reflecties over<br />
    X-Antwerpen.
</h3>
<p>
    Als er iemand is in ons land die de noodzaak beseft om op een andere manier over
    mobiliteit na te denken, <br />dan wel <b> Jannie&nbsp;Haek</b>. De CEO van de NMBS Holding
    heeft een duidelijke visie op het woonwerkverkeer van de toekomst en de cruciale
    rol die stationsbuurten daarin spelen.
</p>
