<h3>
    Bereikbaarheid.<br />
    Station Berchem.<br />
    Visibiliteit.<br />
    Hippe wijk.<br />
</h3>
<p>
    Veel grote ondernemingen openen naast hun hoofdvestiging ook een kantoor in een
    andere centrumstad, zoals Antwerpen. Zo bieden ze hun medewerkers de kans om met
    het openbaar vervoer, met de fiets of te voet naar het werk te gaan. Bovendien ligt
    Antwerpen strategisch gunstig ten opzichte van andere steden. En omwille van deze
    <b>strategische ligging</b> kiezen steeds meer internationale bedrijven Antwerpen
    als Europees hoofdkwartier.
</p>
