<h3>
    Bereikbaarheid.<br />
    Station Berchem.<br />
    Visibiliteit.<br />
    Hippe wijk.<br />
</h3>
<p>
    X-Antwerpen ligt naast het <b>station van Antwerpen-Berchem</b>. Dit is niet alleen
    een belangrijke treinhalte, <br />maar ook een knooppunt voor alle vormen van openbaar
    vervoer (inclusief <b>bus en tram</b>). <br />Dankzij deze optimale bereikbaarheid speelt
    de kantoorontwikkeling in op de noden van bedrijven die het steeds moeilijker krijgen
    om hun werknemers dagelijks tot grote woonwerkverplaatsingen te overhalen. Bovendien
    ligt X&#8209;Antwerpen op de <b>Antwerpse Binnensingel</b> en ligt het ook strategisch
    gunstig ten opzichte van Brussel, Oost-Vlaanderen, Limburg en Nederland.
</p>
<p>
    X-Antwerpen onderscheidt zich doordat het een aangename werkomgeving creëert, makkelijk
    bereikbaar is en ingebed is in het Antwerpse stedelijke weefsel, grenzend aan de
    <b>hippe wijk Zurenborg</b>. Afspreken na de uren of snel even een boodschap doen
    wordt voor de mensen die er werken de normaalste zaak van de wereld.
</p>
