<p>"Stationsomgevingen zijn interessante locaties voor kantoorontwikkelingen. Het is
niet toevallig dat de Vlaamse Administratieve Centra samenklitten in de stationsbuurten.
Daar zijn ze goed bereikbaar voor klanten en personeel, maar ook onderling, wat
zorgt voor een goede kruisbestuiving. De nabijheid van een station is belangrijker
dan veel bedrijfsleiders denken. Wij gaan ervan uit dat een pendelaar bereid is
om 400m te wandelen. Meer dan dat wordt als een drempel ervaren."</p>
<p class="signature">
    Jannie Haek</p>
