<p>
    "Enerzijds kiezen bedrijven opnieuw voor het centrum van de stad.
    Een goede bereikbaarheid met het openbaar vervoer en de nabijheid van
    een station spelen daarbij een belangrijke rol. Anderzijds kiezen bedrijven
    met medewerkers die veel de baan op moeten voor locaties aan de rand
    van de stad. Alles daartussen loopt leeg. Dat maakt X-Antwerpen qua
    ligging interessant: zowel het station als de Antwerpse ring liggen vlakbij."
</p>
<p class="signature">Laurenz Verledens</p>