<p>
    "X-Antwerpen mikt op 50% minder energieverbruik dan een klassiek kantoor. X-Antwerpen
    streeft naar een energiepeil van E50, een score die onder meer rekening houdt met
    de isolatiedikte van het dak, de muren en de vloer, de verwarming en koeling, de
    grootte van de glazen oppervlaktes, de oriëntatie van het gebouw en de technische
    installaties."<br />
</p>
<p class="signature">
    Dirk Slabbinck</p>
