<h3>
    Stéphane Beel.<br />
    Nieuwe Eenvoud.<br />
    Jaspers-Eyers.<br />
    Duurzaamheid.<br />
</h3>
<p>
    In de structuurplannen van Antwerpen is de omgeving van het station Antwerpen-Berchem
    opgenomen als een top- en kantoorlocatie.</p>
<p>
    Het masterplan laat toe om in totaal <b>115.000m²</b> bovengrondse oppervlakte gefaseerd
    ter beschikking te stellen vanaf januari 2014. Het werd in nauwe samenwerking met
    de stad Antwerpen opgesteld.
</p>
