<h3>
    Stéphane Beel.<br />
    Jaspers-Eyers.<br />
    Nieuwe eenvoud.<br />
    Duurzaamheid.<br />
</h3>
<p>
    Het architectenteam voor dit project bestaat uit de sterke combinatie van <b>Stéphan&nbsp;Beel</b>
    en <b>Jaspers&#8209;Eyers</b>.</p>
<p>
    X&#8209;Antwerpen wordt anders dan andere projecten aan de rand van de stad, hier worden tien gelijkaardige gebouwen in een compacte setting naast elkaar gezet.
    <br/><b>Elk gebouw zal zijn eigen accent krijgen</b>, afhankelijk van de bestemming.
    Aan de ene kant legt X&#8209;Antwerpen een link met de stad, aan de andere kant
    met de Ring en het doorgaand verkeer.</p>
<p>
    Beel en Jaspers&#8209;Eyers zijn niet aan hun proefstuk toe. Beel heeft onder meer
    het Raveelmuseum, het Gentse gerechtsgebouw, het Museum M in Leuven en de uitbreiding
    van De Singel in Antwerpen ontworpen. <br />Jaspers-Eyers is het architectenbureau van
    onder meer het Gentse MG&#8209;tower, Espace Jacmotte en de Dexia Tower in Brussel.</p>
