<h3>
    Stéphane Beel.<br />
    Nieuwe Eenvoud.<br />
    Jaspers-Eyers.<br />
    Duurzaamheid.<br />
</h3>
<p>
    Architect <b>Stéphane Beel</b> is de architect van X-Antwerpen. Stéphane&nbsp;Beel is niet aan
    zijn proefstuk toe. <br />Hij heeft onder meer het Raveelmuseum, het Gentse gerechtsgebouw,
    het Museum M in Leuven en de uitbreiding van De Singel in Antwerpen ontworpen.</p>
<p>
    “<b>Elk gebouw zal zijn eigen accent krijgen</b>, afhankelijk van de bestemming. X&#8209;Antwerpen
    wordt anders dan andere projecten aan de rand van de stad, waar tien gelijkaardige
    gebouwen naast elkaar worden neergezet. <br />Aan de ene kant leggen we een link met de
    stad, aan de andere kant een link met de Ring en het doorgaand verkeer”, zegt Stéphane&nbsp;Beel.
</p>
<p>
    Stéphane Beel wordt voor de uitwerking van het project bijgestaan door het architectenbureau
    <b>Jaspers-Eyers</b> dat met zijn jarenlange ervaring in grote kantoorprojecten de ideale
    partner is voor de ontwikkeling van X&#8209;Antwerpen.
</p>
