<h3>
    Stéphane Beel.<br />
    Nieuwe Eenvoud.<br />
    Jaspers-Eyers.<br />
    Duurzaamheid.<br />
</h3>
<p>
    Niet alleen de gebouwen moeten een uitzonderlijke kwaliteit hebben, ook de open
    ruimte. De leegtes zijn even belangrijk als de voltes. De <b>open ruimte</b> in
    X-Antwerpen zorgt voor de <b>samenhang</b> van de gebouwen, mede door de aanwezigheid
    van een zuilengang, die als het ware het geheel aan elkaar bindt.
</p>
