<h3>
    Stéphane Beel.<br />
    Nieuwe Eenvoud.<br />
    Jaspers-Eyers.<br />
    Duurzaamheid.<br />
</h3>
<p>
    In het ontwerp herkent men duidelijk de stijl van Stéphane&nbsp;Beel: de nieuwe eenvoud.
    Spektakel is iets van korte duur, terwijl dit ontwikkelingsproject een lange levensduur
    moet hebben en <b>duurzaamheid</b> nastreeft. X&#8209;Antwerpen is een geheel van gebouwen
    die men louter omwille van de ligging niet zal kunnen negeren. <br />Het project zal sowieso
    de <b>aandacht trekken</b>, op een gepaste manier. Een zekere eenvoud dringt zich
    dan ook op.
</p>
