<h3>
    X Antwerpen.<br/>Berchem.St&#233;phane Beel.<br/>Zurenborg.</h3>
<p>
  X-Antwerpen is een grootschalig stedelijk vernieuwingsproject met een gezonde mix
  van voornamelijk kantoren aangevuld met retail en ontspanningsmogelijkheden. Dat
  zorgt voor een aangename werkomgeving, en maakt het voor werknemers makkelijk om
  werk en priv&#233; op elkaar af te stemmen. De totale bovengrondse projectoppervlakte
  bedraagt 115.000m&#178;. De unieke locatie is een troef voor bedrijven die mikken
  op een toekomstgerichte mobiliteit.
</p>
<p>
  De goede bereikbaarheid met het openbaar vervoer en de nabijheid van het station
  Antwerpen-Berchem spelen daarbij een belan-grijke rol. Maar er is meer: X-Antwerpen
  ligt bovendien naast de Antwerpse ring, dus ook de bereikbaarheid met de wagen is
  gegarandeerd.
</p>
