<h3>
    X-Antwerpen.<br />
    115.000 m².<br />
    Werken.<br />
    Ontspannen.
</h3><p>
X-Antwerpen verenigt kantoorgebouwen, winkels, eet- en ontspanningsgelegenheden,
een crèche en andere aanvullende diensten op één locatie. Dat zorgt voor een aangename
werkomgeving, en maakt het voor werknemers makkelijk om <b>werk en privé</b> op elkaar
af te stemmen. </p> 