<h3>
    X-Antwerpen.<br />
    115.000 m².<br />
    Werken.<br />
    Ontspannen.
</h3>
<p>
    X-Antwerpen is een grootschalig <b>stedelijk vernieuwingsproject</b> met een gezonde mix
    van voornamelijk een kantoor- en schoolprogramma aangevuld met retail en ontspanningsmogelijkheden.
    <br />Het masterplan laat toe om in totaal 115.000m² bovengrondse oppervlakte gefaseerd
    ter beschikking te stellen <b>vanaf januari 2014</b>. Het werd in nauwe samenwerking met
    de stad Antwerpen opgesteld.
</p>
<p>
    De unieke locatie is een troef voor bedrijven die mikken op een toekomstgerichte
    mobiliteit. De goede bereikbaarheid met het <b>openbaar vervoer</b> en de nabijheid van
    het station <b>Antwerpen-Berchem</b> spelen daarbij een belangrijke rol. Maar er is meer:
    X-Antwerpen ligt naast de <b>Antwerpse ring</b>. <br />De bereikbaarbeid met de wagen is dan
    ook gegarandeerd en de bedrijven op de site krijgen een sterke visibiliteit naar
    de honderduizende automobilisten die er per dag passeren.
</p>
